In [1]:
import pandas as pd

In [63]:
visitorship = pd.read_excel('Cleaned Dataset_final.xlsx',sheet_name='Visitorship')
report_hour = pd.read_excel('Cleaned Dataset_final.xlsx',sheet_name='Report_Hour')

In [81]:
visitorship.head()

  report_date  total_capacity
0    02-01-19             226
1    03-01-19             182
2    04-01-19             206
3    05-01-19             104
4    07-01-19             409

In [9]:
report_hour.head()

  report_date      hour gender  capacity
0  2019-01-02  06:00:00      M         0
1  2019-01-02  07:00:00      M        11
2  2019-01-02  08:00:00      M         6
3  2019-01-02  09:00:00      M         8
4  2019-01-02  10:00:00      M        15

In [64]:
visit = visitorship
visit['report_date'] = visit['report_date'].dt.strftime('%d-%m-%y')

In [80]:
visit_dict = visit.to_json(r'visitorship.json',orient='records',date_format='None')
visit_dict

In [ ]:
report = report_hour
report['report_date'] = report['report_date'].dt.strftime('%d-%m-%y')

In [78]:
report.to_json(r'report_hour.json',orient='records',date_format='None')